<div class='row'>
  <div class='col-md-5'>
    <ul>
    <% for(i=0; i < lists.length; i++) { %>
      <li>
        <a href='<%='/show-list/' + lists[i].id %>'>
          <%= lists[i].event %>(<%= lists[i].time %>)
        </a>
      </li>
    <% } %>
  </div>
</div>
