<form class="form" action="/save-list" method="post">
  <div>
    <label for="event">Event</label>
    <input type="text" name="event" value="">
  </div>
  <div>
    <label for="time">Time</label>
    <input type="text" name="time" value="">
  </div>
  <input type="submit" name="" value="Create" class="btn btn-primary">
</form>
